asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
dj-database-url==2.3.0
Django==5.1.2
djangorestframework==3.15.2
docker==7.1.0
environs==11.0.0
greenlet==3.1.1
idna==3.10
marshmallow==3.22.0
packaging==24.1
pillow==10.4.0
pip==22.3.1
psycopg==3.2.3
psycopg-binary==3.2.3
psycopg2-binary==2.9.10
python-decouple==3.8
python-dotenv==1.0.1
requests==2.32.3
setuptools==65.5.0
SQLAlchemy==2.0.36
sqlparse==0.5.1
testcontainers==4.8.2
typing_extensions==4.12.2
urllib3==2.2.3
wrapt==1.16.0